@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.ant-menu-item > a {
  display: inline-block;
}
#main {
  background: #f1f5f9 url('../images/bg.jpg') top left repeat-x;
}
#main .ant-layout-header {
  padding: 0;
  background-color: transparent;
  height: auto;
  min-height: 90px;
  position: relative;
}
.ant-layout-content {
  padding: 0 40px;
  overflow: initial;
}
.ant-layout-content > .ant-breadcrumb {
  margin: 12px 0;
}
.ant-layout-content > .content {
  padding: 24px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.ant-layout-content > .content > iframe {
  width: 100%;
  border: none;
  min-height: 300px;
}
#sidebar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  overflow: auto;
  /* 侧边菜单公共样式 */
}
#sidebar .logo {
  height: 50px;
  background: url('../images/logo.png') center center no-repeat;
  background-size: contain;
  border-radius: 4px;
  margin: 16px;
  display: block;
}
#sidebar .ant-layout-sider-trigger {
  background-color: #fff;
  color: rgba(64, 64, 64, 0.88);
}
#sidebar .ant-menu-submenu {
  font-size: 13px;
}
#sidebar .ant-menu-item {
  font-size: 14px;
}
#sidebar .ant-menu-submenu .ant-menu-item {
  font-size: 13px;
}
#sidebar .ant-menu-submenu .ant-menu-submenu .ant-menu-submenu-title {
  font-size: 13px;
}
#sidebar .ant-menu-submenu .ant-menu-submenu-title {
  font-size: 14px;
}
#sidebar .ant-menu-submenu .ant-menu-submenu-title.ant-menu-item-selected .nav-text {
  font-weight: 700;
}
#sidebar .ant-menu-item-selected:after {
  right: auto;
  left: 0;
}
#sidebar.ant-layout-sider-collapsed {
  overflow: visible;
}
#sidebar.ant-layout-sider-collapsed .logo {
  background-image: url('../images/logo-mini.png');
  background-size: contain;
  opacity: 0;
  -webkit-animation: fadeIn .4s;
          animation: fadeIn .4s;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#sidebar.ant-layout-sider-collapsed > .ant-menu-vertical .anticon {
  font-size: 16px;
  margin-left: 8px;
}
#sidebar.ant-layout-sider-collapsed > .ant-menu-vertical > li .ant-menu-submenu-title {
  font-size: 13px;
}
#sidebar.ant-layout-sider-collapsed > .ant-menu-vertical > li > .ant-menu-submenu-title:after {
  display: none;
}
#sidebar.ant-layout-sider-collapsed > .ant-menu-vertical > li > .ant-menu-submenu-title > span > .nav-text {
  display: none;
}
#sidebar.ant-layout-sider-collapsed > .ant-menu-vertical > li > .nav-text {
  display: none;
}
#container > .ant-layout {
  height: 100vh;
}
#nprogress .bar {
  background: #fff;
}
#nprogress .bar .peg {
  box-shadow: 0 0 10px #fff, 0 0 5px #fff;
}
#nprogress .spinner .spinner-icon {
  border-top-color: #fff;
  border-left-color: #fff;
}
.modal-comon iframe {
  height: 62vh;
}
